.home-container {
    text-align: center;
    padding: 20px;
}

.banner {
    margin-bottom: 30px;
}

.banner-image {
    width: 100%;
    max-width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Cotent {
    padding: 20px;
}

.Cotent h1 {
    color: rgb(46, 101, 178);
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.explore-btn {
    background-color: rgb(46, 101, 178);
    color: white;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.explore-btn:hover {
    background-color: rgb(36, 81, 158);
}