.App{
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
}
header img{
  height: 70px;
}
header{
  display: flex;
  justify-content: space-around;
  padding: 1px;
  align-items: center;
  border-bottom:2px solid black ;
  background-color: black;
  
}
.links{
  display: flex;
  gap: 30px;
}
.links a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 600;
  color: white  ;
}
